* {margin: 0; padding: 0;}

body {
    background: #eee; padding: 5%; font-family: "Trebuchet MS";
}

#corpo {
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    margin: 0 auto;
}

td img:hover {
    background-color: burlywood;
    cursor: grab; /* troca cursor do mouse */
    border-radius: 50px;
}
/*Seletor com pseudo-classe :active quando o boão do mouse estiver apertado */
td img:active {
    cursor: grabbing;
}

header{
    background-color: #89bada;
    padding: 2%;
    border-bottom: 1px solid #69898d;
}

header h1 {
    text-align: center;
    text-shadow: 1px 1px 2px #89c0cd;
    text-transform: uppercase;
}

main {
    padding: 2%;
}

footer {
    background: #89bada;
    text-align: center;
    padding: 2%;
    border-top:1px solid #999;
}

h2 {
    text-align: center;
}